section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.info {
	padding-top: 1rem;
	p {
		color: #868e96;
	}
}

.flex-demo-wrapper {
	min-height: 200px;
	background: #bac8ff;
	border: 1px solid #91a7ff;
	padding: 1rem;

	.flex-demo {
		color: #6741d9;
		border: 1px solid #6741d9;
		background: #d0bfff;
		max-width: 100px;
		max-height: 100px;
	}
}
