@each $name, $gradient in $gradients {
	.bg-gradient-#{$name} {
		$background: mix($gradient...);
		background-color: $background;
		color: color-yiq($background);
		background-image: linear-gradient($gradient-angle, $gradient...);
	}
}
