// Mixins

@mixin button-gradient-variant(
	$gradient,
	$background: mix($gradient...),
	$border: darken($background, 1%),
	$color: color-yiq($background),
	$hover-gradient: darken-list($gradient, 7.5%),
	$hover-background: darken($background, 7.5%),
	$hover-border: darken($border, 10%),
	$hover-color: color-yiq($hover-background),
	$active-gradient: darken-list($gradient, 10%),
	$active-background: darken($background, 10%),
	$active-border: darken($border, 12.5%),
	$active-color: color-yiq($active-background)
) {
	color: $color;
	background-color: $background;
	background-image: linear-gradient($gradient-angle, $gradient...);
	border-color: $border;
	@include box-shadow($btn-box-shadow);

	&:hover {
		color: $hover-color;
		background: $hover-background;
		background-image: linear-gradient($gradient-angle, $hover-gradient...);
		border-color: $hover-border;
	}

	&:focus,
	&.focus {
		color: $hover-color;
		background: $hover-background;
		background-image: linear-gradient($gradient-angle, $hover-gradient...);
		border-color: $hover-border;
		// Avoid using mixin so we can pass custom focus shadow properly
		@if $enable-shadows {
			box-shadow: $btn-box-shadow,
				0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), 0.5);
		} @else {
			box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), 0.5);
		}
	}

	&:active,
	&.active,
	.show > &.dropdown-toggle {
		color: $active-color;
		background-color: $active-background;
		background-image: linear-gradient($gradient-angle, $active-gradient...);
		border-color: $active-border;

		&:focus {
			// Avoid using mixin so we can pass custom focus shadow properly
			@if $enable-shadows and $btn-active-box-shadow != none {
				box-shadow: $btn-active-box-shadow,
					0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), 0.5);
			} @else {
				box-shadow: 0 0 0 $btn-focus-width rgba(mix($color, $border, 15%), 0.5);
			}
		}
	}

	&:disabled,
	&.disabled {
		color: $color;
		background-color: $background;
		// Remove CSS gradient if they're enabled
		background-image: if($enable-gradients, none, null);
		border-color: $border;
	}
}

// Implementations

@each $name, $gradient in $gradients {
	.btn-gradient-#{$name} {
		@include button-gradient-variant($gradient);
	}
}
